        <div class="col-md-6">
            <div class="card card-block">
                <div class="row">
                    <div class="col-xs-3 col-md-3">
                    <h1 class="vote-counter">0</h1>
                    <i class="fa fa-2x fa-thumbs-up"
                       (click)="upvote(post)">
                    </i>
                    <i class="fa fa-2x fa-thumbs-down"
                       (click)="downvote(post)">
                    </i>
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Bootsnipp <a href="http://bootsnipp.com/" target="_blank">
                            <i class="fa fa-external-link">
                            </i></a>
                        </h2>
                        <p>
                            Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework</p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <i class="fa fa-heart"></i><i class="fa fa-heart">
                                </i><i class="fa fa-heart"></i><i class="fa fa-heart">
                                </i><i class="fa fa-heart"></i>(36)<span class="separator">|</span>
                                <i class="fa fa-comment"></i>(100 Comments)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>