.title-tag {
  margin-left: 7px;
  margin-top: 7px;
}
/* Buttons */
.btn-primary {
  margin: 7px;
}
.btn-primary:hover {
  background-color: #3C92E8;
}
/* Input Field */
input {
  border: none;
  background-color: transparent;
  outline: none;
  color: rgba(0,0,0,0.6);
  margin-bottom: 15px;
}
/*Votes*/
.vote-counter {
  margin-left: 25px;
}
/*Add new post*/
.create-note {
  margin-left: 7px;
}
.post-title {
  font-weight: bold;
  font-size:18px;
  color: rgba(0,0,0,0.8);
}
.post-link {
  font-weight: bold;
  margin-top: 5px;
}
.post-description {
  font-weight: bold;
  margin-top: 5px;
}
/*Category Select*/
.custom-select {
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
}
/*Links row*/
.fa {
  margin-right:5px;
}
.section-box h2 {
  margin-top:0px;
}
.section-box h2 a {
  font-size:15px;
}
.fa-heart {
  color:#e74c3c;
}
.fa-comment {
  color:#27ae60;
}
.separator {
  padding-right:5px;
  padding-left:5px;
}
.section-box hr {
  margin-top: 0;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgb(199, 199, 199);
}
.fa-thumbs-down {
  padding-bottom: 10px;
  color: #307FFF;
}
.fa-thumbs-up {
 color: #307FFF;
}
.card-block {
  background-color: #F9F9F9;
}
/*Input Box Shadow*/
.shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* MEDIA QUERIES */
@media(max-width: 768px) {
  .create-note {
    display: none;
  }
}
@media(min-width: 768px) and (max-width: 990px) {
  .fa-thumbs-up {
  margin-left: 20px;
  }
  .fa-thumbs-down {
  margin-left: 20px;
  }
}