 <!-- Navbar -->
 <mv-navbar></mv-navbar>

<!-- Posts Container -->
<!-- <mv-posts-container></mv-posts-container> -->
<router-outlet></router-outlet>

<!--  <div class="container">
  <div class="row">
     <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1>The Latest</h1>
        </div>
        <div class="posts">
            <span class="fa fa-thumbs-up"
                       (click)="upvote(post)"></span>
              {{post.votes}}
            <span class="fa fa-thumbs-down"
                       (click)="downvote(post)"></span>
            <span class="post-link">
                <a href="{{ post.link }}" target="_self">
                    {{post.title}}
                </a></span>
            <span>
                <a href="#/posts/{{ post._id }}">Comments: </a>
                {{ post.comments.length }}
            </span>
        </div>
    </div> -->

<!--         <form class="row create-note"
                  (submit)="onCreateNote()">
            <h3>Add a new post:</h3>

            <div class="form-group">
                <input
                    type="text"
                    (focus)="toggle(true)"
                    [(ngModel)]="post.title"
                    name="newNoteTitle"
                    placeholder="Title"
                    class="col-xs-8 title"
                    *ngIf="fullForm">
            </div>

            <div class="form-group">
              <input
                    type="text"
                    (focus)="toggle(true)"
                    [(ngModel)]="post.link"
                    name="newNoteTitle"
                    placeholder="Title"
                    class="col-xs-2 link"
                    *ngIf="fullForm">
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form> -->


<!--     </div>
        <div class="comment-votes">
            <span class="fa fa-thumbs-up"
                       (click)="upvote(comment)">
            </span>
                       {{comment.votes}}
            <span class="fa fa-thumbs-down"
                       (click)="downvote(comment)">
            </span>
            - by {{comment.author}}
            <span class="comment-body">
                {{comment.body}}
            </span>
        </div>

        <form class="add-comment"
                  (submit)="addComment()">
            <h3>Add a new comment</h3>
              <div class="form-group">
              <input
                    type="text"
                    (focus)="toggle(true)"
                    [(ngModel)]="comment"
                    name="comment"
                    placeholder="Comment"
                    class="col-xs-2 link"
                    *ngIf="fullForm">
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
 -->

